html,
body {
  width: 200px;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

button {
  border: none;
  width: 100%;
  /* margin-left: 5px; */
  text-align: left;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #cff2f2;
}


